@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: myFirstFont;
  src:url("./assets/Fonts/Cairo/static/Cairo-Medium.ttf");
}

* {
  font-family: myFirstFont !important;
}